@{
    ViewData["Title"] = "Buchungen";
}

<h1 style="margin-left: 350px">@ViewData["Title"]</h1>

<table style="width:100%" class="table-borderless table-striped table-light table-hover">
    <thead style="background-color: limegreen; color: white;">
        <tr>
            <th>Ladestand</th>
            <th>Nötige Distanz</th>
            <th>Beginn</th>
            <th>Ende</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Booking in (IEnumerable<Booking>)ViewData["BookingTable"])
        {
            <tr>
                <td>@Booking.SoC</td>
                <td>@Booking.reqDistance</td>
                <td>@Booking.start</td>
                <td>@Booking.end</td>
            </tr>
        }
    </tbody>

</table>
