@model Uebungsprojekt.ViewModel.Administration.AddRushHoursViewModel

@{
    ViewData["Title"] = "Rush Hours";
    Layout = "_PlanerLayout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRushHours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label for="day_of_week" class="">Weekday: </label>
                <select name="day_of_week" id="day_of_week" asp-items="@Html.GetEnumSelectList<System.DayOfWeek>()">
                </select>
            </div>
            <div class="form-group row">
                <label for="time" class="">Time: </label>
                <input type="time" name="time" id="time"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div><h3><u>Rush Hours</u></h3></div>
<table id="booking-table" style="width:100%" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Weekday</th>
            <th>StartTime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.config.rush_hours.Any())
        {
            @foreach (var rush_hour in Model.config.rush_hours)
            {
                <tr>
                    <td>@rush_hour.Item1</td>
                    <td>@rush_hour.Item2</td>
                </tr>
            }
        }
    </tbody>
</table>


<input type="button" value="Previous" onclick="location.href='@Url.Action("AddSimulationVehicle", "Administration")'" />
<input type="button" value="Next" onclick="location.href='@Url.Action("SimulationInfrastructure", "Administration")'" />
