@model Uebungsprojekt.ViewModel.Administration.AddSimulationVehicleViewModel

@{
    ViewData["Title"] = "Add Simulation Vehicle";
    Layout = "_PlanerLayout";

}

<h1>Add Simulation Vehicle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSimulationVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label for="vehicle_id" class="col-2 col-form-label">Vehicle Type:</label>
                <select name="vehicle_id" id="vehicle_id">
                    @if (Model.vehicles.Any())
                    {
                        @foreach (var vehicle in Model.vehicles)
                        {
                            <option value="@vehicle.id">@vehicle.id - @vehicle.model_name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group row">
                <label for="count" class="col-2 col-form-label">Count:</label>
                <input name="count" id="count" type="number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <h3><u>Vehicles</u></h3>
    <input type="button" value="DeleteAll" onclick="location.href='@Url.Action("DeleteAllSimulationVehicles", "Administration")'" />
</div>
<table id="booking-table" style="width:100%" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.config.vehicles.Any())
        {
            @foreach (var vehicle in Model.config.vehicles)
            {
                <tr>
                    <td>@vehicle.id</td>
                    <td>@vehicle.model_name</td>
                    <td>@Html.ActionLink("Delete", "DeleteSimulationVehicle", new { id = vehicle.id })</td>
                </tr>
            }
        }
    </tbody>
</table>

<input type="button" value="Previous" onclick="location.href='@Url.Action("SimulationConfig", "Administration")'" />
<input type="button" value="Next" onclick="location.href='@Url.Action("AddRushHours", "Administration")'" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
