@model IEnumerable<Uebungsprojekt.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
    Layout = "_PlanerLayout";
}
    
<h1 class="page-title">@ViewData["Title"]</h1>

<div class="container TableHeadline">
    <div>
        <div class="row">
            <div class="col-10">
                <p>Overview: adminview</p>
            </div>
            <div class="col-2">
                <abbr title="Create new Booking">
                    <a class="btn btn-primary submit" asp-area="" asp-controller="UserDashboard" asp-action="Create">
                        <span class="material-icons">add_box</span>
                    </a>
                </abbr>
            </div>
        </div>
    </div>
</div>

<!-- Only show booking table if there are any bookings to display-->
@if (Model.Any())
{
<table id="booking-table"style="width:100%" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Start State of Charge</th>
            <th>Target State of Charge</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Vehicle</th>
            <th>Location</th>
            <th>Check In/Out</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.start_state_of_charge</td>
                <td>@booking.target_state_of_charge</td>
                <td>@booking.start_time</td>
                <td>@booking.end_time</td>
                <td>@booking.vehicle.model_name</td>
                <td>@booking.location.id</td>
                <td><span class="material-icons">done</span></td>
                @if (booking.accepted)
                                                {
                                                    <td><a href="" type="button" data-toggle="modal" data-target="#modaledit">check-in / -out</a></td>
                                                    <td><a href="" type="button" data-toggle="modal" data-target="#modaldelete">cancel</a></td>
                                                }
                                                else
                                                {
                                                    <td>OPEN</td>
                                                    <td>@Html.ActionLink("Delete","Delete", new{id=booking.id})</td>
                                                }
                <!--
                <td><a href="" type="button" data-toggle="modal" data-target="#modaledit">edit</a></td>
                <td><a href="" type="button" data-toggle="modal" data-target="#modaldelete">delete</a></td>
                -->
            </tr>
        }
    </tbody>
</table>
<!-- Show alternative text if not -->
} else
{
    <p>There are no bookings to display!</p>
}

<div class="modal fade" style="position: fixed; top: 90%;" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaldelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">The Booking was successfully deleted.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="position: fixed; top: 90%;" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modaledit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">The Booking was successfully edited.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
function toggleImport(){
    let importFormSpan = $('#import_form_span');
    // Make error message area empty invisible
    importFormSpan.addClass('d-none');
    importFormSpan.text('');
    // Toggle visibility of file input
    $('#json_files').toggleClass('d-none'); 
}


function importJson(){
    let importForm = $('#import_form');
    let jsonInput = document.getElementById('json_files');

    // Check if there is exactly one file selected
    if (jsonInput.files.length !== 1)
        show_import_error("Please select exactly one .json file");
    // Check if file is in json format
    else if (!jsonInput.files[0].name.endsWith('.json'))
        show_import_error("The selected file has to be in .json format");
    // Check if file is less then 1MB 
    else if (jsonInput.files[0].size > 1000000)
        show_import_error("The selected json file has to smaller than 1MB");
    else 
        importForm.submit();
}

function show_import_error(err_msg) {
    let importFormSpan = $('#import_form_span');
    // Set error message
    importFormSpan.text(err_msg);
    // Make span visible
    importFormSpan.removeClass('d-none');
    }


</script>