@model Uebungsprojekt.Models.Booking
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="charge" class="control-label"></label>
                <input asp-for="charge" class="form-control" />
                <span asp-validation-for="charge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="needed_distance" class="control-label"></label>
                <input asp-for="needed_distance" class="form-control" />
                <span asp-validation-for="needed_distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_time" class="control-label"></label>
                <input asp-for="start_time" class="form-control" />
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_time" class="control-label"></label>
                <input asp-for="end_time" class="form-control" />
                <span asp-validation-for="end_time" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="ConnectorType" class="col-2 col-form-label">Ladeanschluss:</label>
                <select class="col-10 form-control" id="Con_type" name="Con_type">
                    <option>@Booking.ConnectorType.CCS_Combo_2_Plug</option>
                    <option>@Booking.ConnectorType.CHAdeMO_Plug</option>
                    <option>@Booking.ConnectorType.Schuko_Socket</option>
                    <option>@Booking.ConnectorType.Tesla_Supercharger</option>
                    <option>@Booking.ConnectorType.Type_1_Plug</option>
                    <option>@Booking.ConnectorType.Type_2_Plug</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
