@model IEnumerable<Uebungsprojekt.Models.Booking>

@{
    ViewData["Title"] = "Buchungen";
}

<style>

    input[type="file"] {
        display: none;
    }
    label{
        margin: 10px;
    }
</style>




<h1 class="page-title">@ViewData["Title"]</h1>

<div class="row" id="bookingTableHeadline">
    <h4>Übersicht aller Buchungen: </h4>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Booking" asp-action="Create">Neue Buchung anlegen</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Booking" asp-action="Export">Export</a>
        <form id="importform" name="importform" method="post" enctype="multipart/form-data" asp-controller="Booking" asp-action="Import">
            <label class="btn btn-secondary">
                Upload<span><input id="file" type="file" name="files" onchange="import_json()"/></span>
            </label>
            <a id="error_panel" name=""tst"></a>            
        </form>
    </div>




</div>

<!-- Only show booking table if there are any bookings to display-->
@if (Model.Any())
{
    <table style="width:100%" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Charge</th>
                <th>Needed Distance</th>
                <th>Start_Time</th>
                <th>End_Time</th>
                <th>Connector</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Booking in Model)
            {
                <tr>
                    <td>@Booking.Charge</td>
                    <td>@Booking.Needed_distance</td>
                    <td>@Booking.Start_time</td>
                    <td>@Booking.End_time</td>
                    <td>@Booking.s_type</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Show alternative text if not -->
}
else
{
    <p>Noch keine Buchungen vorhanden!</p>
}

<script>
    function import_json()
    {
        let importForm = $('#importform');
        let json_file = document.getElementById('file');

        if (!json_file.files[0].name.endsWith('.json')) {
            print_err("Only .json files are Valid!");
        } else if (json_file.files[0].size > 1048576) {
            print_err("Size above 1MB!");
        }else{
            importForm.submit();
        }
    }
    function print_err(Error_Message) {
        let importFormSpawn = $('#error_panel');
        importFormSpawn.text(Error_Message);
    }
</script>

