@model IEnumerable<Uebungsprojekt.Models.User>
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}

<h1 class="page-title">@ViewData["Title"]</h1>


<div class="row">
    <div class="col-12">
        <abbr title="Create new User">
            <a class="btn btn-primary submit" asp-area="" asp-controller="UserDashboard" asp-action="CreateUser">
                <span class="material-icons">add_box</span>
            </a>
        </abbr>
    </div>
</div>


<table id="booking-table" style="width:100%" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.name</td>
                <td>@user.email</td>
                <td>@user.role</td>
            </tr>
        }
    }
    </tbody>
</table>